.community-recipes-basic-information {
    display: flex;
    flex-direction: row;
}

.board-category {
    width: 330px;
    height: 327px;
    top: 192px;
    left: 15px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px 0px #9191911F;
}

.board-category .Community-Recipes-Detail {
    box-shadow: 0px 1px 3px 0px #DDDDDD;
    width: 190px;
    height: 28.5px;
    top: 30px;
    left: 28px;
    border-radius: 6px;
    position: static;
    margin-top: 42px;
    margin-left: 20px;
}

.like-container-detail {
    margin-top: 42px;
    width: 60px;
    height: 28px;
    top: 30px;
    left: 187px;
    border-radius: 4px;
    border-width: 1px;
    margin-right: 28px;
}

.community-recipes-category-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-card-detail {
    border: 2px solid #F3F3F4;
    border-radius: 3px;
    align-items: center;
    padding: 0px 7px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.category-card-detail p {
    font-weight: 400;
    font-size: 11.06px;
    line-height: 13px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #676A6C;
    margin-left: 5px;
}

/* bảng thông tin cơ bản */

.boart-basic-information {
    width: 100%;
    margin-right: 20px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px #3030301f;
}

.boart-basic-information h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 20px;
}

.boart-basic-information p {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #888;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 20px;
    margin-top: 15px;
}

.text-boart-basic-information {
    margin-bottom: 20px;
}

.box-boart-basic-information {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 7px;
}

.box-boart-basic-information span:nth-of-type(1) {
    background-color: #FAFAFB;
    border: 1px solid #EEEEEE;
    border-width: 1px;
    font-weight: 400;
    font-size: 14.3px;
    line-height: 21.45px;
    vertical-align: middle;
    color: #676A6C;
    width: 200px;
    height: auto;
    align-content: center;
    padding: 10px 11px;
}

.box-boart-basic-information span:nth-of-type(2) {
    border: 1px solid #EEEEEE;
    width: 100%;
    height: 100%;
    align-content: center;
    padding: 10px 10px;
    margin-right: 20px;
}

.add-to-favorite {
    background-color: #fff;
    width: 170px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    margin-left: 15px;
    align-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 17.14px;
    vertical-align: middle;
}

.title-creative-choose {
    width: 97.69%;
    height: 61px;
    border-radius: 5px;
    background-color: #1AB394;
    margin-left: 15px;
    margin-top: 25px;
    padding-top: 11px;
    padding-left: 15px;
}

.title-creative-choose h4 {
    font-weight: 400;
    font-size: 16.9px;
    line-height: 25.35px;
    vertical-align: middle;
    color: #fff;
}

.title-creative-choose p {
    font-weight: 300;
    font-size: 10.8px;
    line-height: 16.2px;
    vertical-align: middle;
    color: #fff;
}

/* BANG THANH PHAN CHI TIET */

.ingredients-index-caculator {
    display: flex;
    gap: 30px;
}

.ingredients-index-caculator-1 {
    flex: 2.8;
}

.ingredients-index-caculator {
    height: 1250px;
    background-color: #e6e6e6;
}

.ingredients-index-caculator .ingredients {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 15px;
    padding: 20px;
}

.ingredients h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
}

.ingredients p {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}

.ingredients .box-ingredient-detail {
    width: 100%;
    height: auto;
    border: 2px solid #EEEEEE;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    vertical-align: middle;
    align-content: center;
    margin-top: 16px;
    padding-left: 11px;
    word-wrap: break-word;
    line-height: 41px;
}

/* BANG HƯỚNG DẪN CÁCH LÀM */

.ingredients-index-caculator .cooking-method {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 15px;
    padding: 20px;
}

.cooking-method h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
}

.cooking-method span {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    color: #888;
}

.cooking-method .cooking-method-box {
    display: flex;
    flex-direction: row;
    border: 2px solid #eee;
    margin-top: 15px;
}

.cooking-method-box p:nth-of-type(1) {
    flex: 1;
    text-align: center;
    border-right: 2px solid #EEEEEE;
    width: 40px;
    height: auto;
    background-color: #FAFAFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooking-method-box p:nth-of-type(2) {
    flex: 10;
    padding: 10px;
    word-wrap: break-word;
    width: 703px;
}

/* BẢNG TÍNH TOÀN CHỈ SỐ DINH DƯỠNG */

.ingredients-index-caculator-2 {
    flex: 1;
}

.global-analysis-per-portion {
    width: 376px;
    height: 249px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 15px;
}

.global-analysis-per-portion {
    display: block;
    padding: 20px;
}

.global-analysis-per-portion h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
}

.global-analysis-per-portion p {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    color: #888;
}

.global-analysis-per-portion .energy-value {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 6px;
    border-bottom: 2px solid #EEE;
}

.energy-value span {
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    vertical-align: middle;
}

.energy-value div span:nth-of-type(1) {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
}

.energy-value div span:nth-of-type(2) {
    font-weight: 400;
    font-size: 11px;
    line-height: 16.5px;
    vertical-align: middle;
}

.note-macronutrients-per-portion {
    display: flex;
    text-align: center;
    margin-top: 25px;
    gap: 16.8px;
}

.circle-macronutrients {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    align-content: center;
}

.note-macronutrients-per-portion .circle:nth-of-type(1) .circle-macronutrients {
    border: 7px solid #DB4965;
}

.note-macronutrients-per-portion .circle:nth-of-type(2) .circle-macronutrients {
    border: 7px solid #EA9F77;
}

.note-macronutrients-per-portion .circle:nth-of-type(3) .circle-macronutrients {
    border: 7px solid #1AB394;
}

.note-macronutrients-per-portion .circle:nth-of-type(4) .circle-macronutrients {
    border: 7px solid #6A7D93;
}

.circle span {
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
    vertical-align: middle;
    color: #888;
}



/* Biểu đồ tròn */
.macronutrients-per-portion {
    display: block;
    padding: 20px;
    height: auto;
    width: 376px;
}

.macronutrients-per-portion h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
}

.subtitle {
    font-weight: 300;
    font-size: 11.81px;
    line-height: 18px;
    vertical-align: middle;
    color: #888;
}

canvas {
    padding-top: 15px;
    transition: transform 0.4s ease;
}

canvas:hover {
    transform: scale(1.03);
}

.micronutrients-per-portion{
    display: block;
    padding: 20px;
    height: auto;
    width: 376px;
}

.micronutrients-per-portion h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;   
}

.micronutrients-per-portion p{
    font-weight: 300;
    font-size: 11.81px;
    line-height: 18px;
    vertical-align: middle;
    color: #888;
}

.micronutrients-per-portion ul{
    margin-top: 15px;
}

.micronutrients-per-portion li {
    display: flex;
    justify-content: space-between;
    line-height: 38px;
}

.micronutrients-per-portion li:nth-child(even){
    background-color: #FAFAFB;
}